<html>
  <body>
    <div id="app">
      <textarea v-model="input"></textarea>

      <emoji-picker @emoji="insert" :search="search">
        <div class="emoji-invoker" slot="emoji-invoker" slot-scope="{ events: { click: clickEvent } }" @click.stop="clickEvent">
          <button type="button">open</button>
        </div>
        <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
          <div>
            <div>
              <input type="text" v-model="search">
            </div>
            <div>
              <div v-for="(emojiGroup, category) in emojis" :key="category">
                <h5>{{ category }}</h5>
                <div>
                  <span
                    v-for="(emoji, emojiName) in emojiGroup"
                    :key="emojiName"
                    @click="insert(emoji)"
                    :title="emojiName"
                  >{{ emoji }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </emoji-picker>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="../dist/vue-emoji-picker.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        components: {
          EmojiPicker: window.EmojiPicker,
        },
        data() {
          return {
            input: '',
            search: '',
          }
        },
        methods: {
          insert(emoji) {
            this.input += emoji
          },
        },
      })
    </script>
  </body>
</html>
